.App {
  text-align: center;
  width: 100%;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

form.rjsf        { 
  color:#1b1392; 
  width:80%; 
  padding: 100;
  left: 150px;

}
.formDiv {
  margin-left: 5%; 
  padding-left: 5%;
  margin-right: 5%; 
  padding-right: 5%;
}

.form {
  margin-right: 5%;
}

label,
input {
  display: inline-block;
}

h5 {
  text-align: left;
}

label {
  width: 30%;
  text-align: left;
}

label+input {
  width: 30%;
  margin: 0 30% 0 4%;
}

.resultTable {
  margin-left: 5%; 
  margin-top: 5%; 
  padding-top: 5%;
  margin-right: 5%; 
}

.backButton {
  left: 5px;
  float: left;
  margin-left: 5%; 
  padding-left: 5%;
  margin-top: 5%; 
}

div[class^="MuiBox-root"] {
  padding: 10px;
}

th {
  color: #1b1392;
  padding-left: 10%;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
